name: Lint
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - Dockerfile
  pull_request:
    branches:
      - main
    paths:
      - Dockerfile

jobs:
  lint:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            Dockerfile
          sparse-checkout-cone-mode: false
      - name: Hadolint Action
        uses: hadolint/hadolint-action@v3.3.0
